.btn {
    --size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    min-width: var(--size);
    min-height: var(--size);
    transition: background-color 150ms ease-in-out;
}

.btn:hover:not(:disabled) {
    background-color: hsla(var(--neutral-25-hsl) / 0.2);
}

.btn.large {
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
}

.btn svg {
    fill: var(--text-primary);
    width: 100%;
    height: 100%;
}

.btn.disabled {
    cursor: default;
}

.btn.disabled svg {
    fill: var(--text-disabled)
}